#island-5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.info{
    order: 0;
    flex: 9 1 auto;
    align-self: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}


.edu-info{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

/* ISLAND - 6 */
.island-6{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.all-project{
    order: 0;
    flex: 9 1 auto;
    align-self: auto;
}

.all-project-info{
    order: 0;
    flex: 9 1 auto;
    align-self: auto;
}

#island-6 .all-project{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#island-8{
    display: flex;
    justify-content: center;
    
    overflow: visible;
}

.edu-sticky{
    
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#island-9{
    display: flex;
    justify-content: center;
}